version: 2
jobs:
  build:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run: |          
          docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: 
          name: build
          command: |
            docker build -t cake-build .
      - deploy:
          name: push image
          command: |
            docker tag cake-build $CIRCLE_PROJECT_USERNAME/cake-build:$CIRCLE_BUILD_NUM
            docker tag cake-build $CIRCLE_PROJECT_USERNAME/cake-build:latest
            docker push $CIRCLE_PROJECT_USERNAME/cake-build:$CIRCLE_BUILD_NUM
            docker push $CIRCLE_PROJECT_USERNAME/cake-build:latest

workflows:
  version: 2
  build_prod:
    jobs:
      - build:
          filters:
            branches:
              only: master